[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
[submodule "snarkWrapper"]
	path = snarkWrapper
	url = https://github.com/barryWhiteHat/snarkWrapper
